<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>edu.poly.model.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <display-name>End.PolyOEAsg</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UsersManagementServlet</display-name>
    <servlet-name>UsersManagementServlet</servlet-name>
    <servlet-class>edu.poly.admin.servlet.UsersManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersManagementServlet</servlet-name>
    <url-pattern>/UsersManagementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportManagementServlet</display-name>
    <servlet-name>ReportManagementServlet</servlet-name>
    <servlet-class>edu.poly.admin.servlet.ReportManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportManagementServlet</servlet-name>
    <url-pattern>/ReportManagementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VideosManagementServlet</display-name>
    <servlet-name>VideosManagementServlet</servlet-name>
    <servlet-class>edu.poly.admin.servlet.VideosManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VideosManagementServlet</servlet-name>
    <url-pattern>/Admin/VideosManagement</url-pattern>
    <url-pattern>/Admin/VideosManagement/create</url-pattern>
    <url-pattern>/Admin/VideosManagement/update</url-pattern>
    <url-pattern>/Admin/VideosManagement/delete</url-pattern>
    <url-pattern>/Admin/VideosManagement/reset</url-pattern>
    <url-pattern>/Admin/VideosManagement/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomePageServlet</display-name>
    <servlet-name>HomePageServlet</servlet-name>
    <servlet-class>edu.poly.sites.servlet.HomePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePageServlet</servlet-name>
    <url-pattern>/Homepage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>edu.poly.sites.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>edu.poly.sites.servlet.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordServlet</display-name>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>edu.poly.sites.servlet.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AuthFilter</display-name>
    <filter-name>AuthFilter</filter-name>
    <filter-class>edu.poly.filter.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LogoffServlet</display-name>
    <servlet-name>LogoffServlet</servlet-name>
    <servlet-class>edu.poly.sites.servlet.LogoffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoffServlet</servlet-name>
    <url-pattern>/Logoff</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfileServlet</display-name>
    <servlet-name>EditProfileServlet</servlet-name>
    <servlet-class>edu.poly.sites.servlet.EditProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfileServlet</servlet-name>
    <url-pattern>/EditProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPasswordServlet</display-name>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <servlet-class>edu.poly.sites.servlet.ForgotPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <url-pattern>/ForgotPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShareVideoServlet</display-name>
    <servlet-name>ShareVideoServlet</servlet-name>
    <servlet-class>edu.poly.sites.servlet.ShareVideoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShareVideoServlet</servlet-name>
    <url-pattern>/ShareVideo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LikeVideoServlet</display-name>
    <servlet-name>LikeVideoServlet</servlet-name>
    <servlet-class>edu.poly.sites.servlet.LikeVideoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikeVideoServlet</servlet-name>
    <url-pattern>/LikeVideo</url-pattern>
  </servlet-mapping>
</web-app>